In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
dtp=pd.read_csv('E:\\Semester9\\Data engineering\\Milestone_1\\datasets\\daily_trade_prices.csv')

In [4]:
dtp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    504 non-null    object
 1   STK001  462 non-null    float64
 2   STK002  504 non-null    float64
 3   STK003  504 non-null    float64
 4   STK004  450 non-null    float64
 5   STK005  504 non-null    float64
 6   STK006  504 non-null    float64
 7   STK007  504 non-null    float64
 8   STK008  504 non-null    float64
 9   STK009  447 non-null    float64
 10  STK010  504 non-null    float64
 11  STK011  504 non-null    float64
 12  STK012  468 non-null    float64
 13  STK013  504 non-null    float64
 14  STK014  504 non-null    float64
 15  STK015  504 non-null    float64
 16  STK016  504 non-null    float64
 17  STK017  504 non-null    float64
 18  STK018  504 non-null    float64
 19  STK019  450 non-null    float64
 20  STK020  447 non-null    float64
dtypes: float64(20), object(1)
memory usage: 82.8+ KB

In [5]:
dtp['STK001'].value_counts()

STK001
130.215257    1
127.931982    1
126.531338    1
127.837687    1
127.140842    1
             ..
67.921352     1
69.335735     1
68.121566     1
65.273747     1
64.339639     1
Name: count, Length: 462, dtype: int64

In [6]:
dtp.head()

,date,STK001,STK002,STK003,STK004,STK005,STK006,STK007,STK008,STK009,...,STK011,STK012,STK013,STK014,STK015,STK016,STK017,STK018,STK019,STK020
0,2023-01-02,130.215257,143.732847,10.829021,41.721087,145.478750,136.613229,193.549026,154.597180,190.646814,...,66.629920,30.019335,158.546534,132.388352,19.155342,78.409589,191.791965,105.076218,92.218536,96.962925
1,2023-01-03,127.931982,141.811103,10.840378,42.372205,150.451171,131.081439,189.433498,156.245870,188.642260,...,67.403967,NaN,157.962636,132.316777,19.495879,81.278706,196.519348,105.143629,93.324523,NaN
2,2023-01-04,126.531338,139.814796,10.824561,43.273956,150.121855,132.287593,185.192571,153.568772,199.054913,...,65.541600,28.336211,157.022235,128.554686,19.489534,79.565899,195.192089,106.084249,93.996184,96.034921
3,2023-01-05,127.837687,140.885311,10.874388,43.307331,154.264000,127.534322,189.023341,155.642891,NaN,...,66.558603,27.706730,154.660460,120.788272,18.989024,83.375297,193.497711,104.311590,92.687024,96.281810
4,2023-01-06,127.140842,143.103993,11.212466,46.389494,151.434469,125.356736,185.290655,155.942939,203.068155,...,67.339732,27.283299,159.619771,112.131796,18.700643,80.443424,189.787155,109.664184,88.463448,97.103757

In [7]:
dc=pd.read_csv('E:\\Semester9\\Data engineering\\Milestone_1\\datasets\\dim_customer.csv')
dc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_key             5000 non-null   int64
 1   customer_id              5000 non-null   int64
 2   account_type             5000 non-null   object
 3   avg_trade_size_baseline  5000 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 156.4+ KB

In [8]:
dd=pd.read_csv('E:\\Semester9\\Data engineering\\Milestone_1\\datasets\\dim_date.csv')
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date_key     504 non-null    int64
 1   date         504 non-null    object
 2   day          504 non-null    int64
 3   month        504 non-null    int64
 4   month_name   504 non-null    object
 5   quarter      504 non-null    int64
 6   year         504 non-null    int64
 7   day_of_week  504 non-null    int64
 8   day_name     504 non-null    object
 9   is_weekend   504 non-null    bool
 10  is_holiday   504 non-null    bool
dtypes: bool(2), int64(6), object(3)
memory usage: 36.6+ KB

In [9]:
ds=pd.read_csv('E:\\Semester9\\Data engineering\\Milestone_1\\datasets\\dim_stock.csv')
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   stock_key       20 non-null     int64
 1   stock_ticker    20 non-null     object
 2   company_name    20 non-null     object
 3   liquidity_tier  20 non-null     object
 4   sector          20 non-null     object
 5   industry        20 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.1+ KB

In [10]:
ds['stock_ticker'].value_counts()

stock_ticker
STK001    1
STK002    1
STK003    1
STK004    1
STK005    1
STK006    1
STK007    1
STK008    1
STK009    1
STK010    1
STK011    1
STK012    1
STK013    1
STK014    1
STK015    1
STK016    1
STK017    1
STK018    1
STK019    1
STK020    1
Name: count, dtype: int64

In [11]:
ds.head()

,stock_key,stock_ticker,company_name,liquidity_tier,sector,industry
0,1,STK001,STK001 Corp,Low,Energy,Utilities
1,2,STK002,STK002 Corp,Low,Consumer,Retail
2,3,STK003,STK003 Corp,Low,Technology,Software
3,4,STK004,STK004 Corp,Low,Finance,Asset Management
4,5,STK005,STK005 Corp,Low,Energy,Renewables

In [12]:
ds['stock_key'].value_counts()

stock_key
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
Name: count, dtype: int64

In [13]:
trades=pd.read_csv('E:\\Semester9\\Data engineering\\Milestone_1\\datasets\\trades.csv')
trades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   transaction_id              10000 non-null  int64
 1   timestamp                   10000 non-null  object
 2   customer_id                 10000 non-null  int64
 3   stock_ticker                10000 non-null  object
 4   transaction_type            10000 non-null  object
 5   quantity                    10000 non-null  int64
 6   average_trade_size          10000 non-null  float64
 7   cumulative_portfolio_value  10000 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 625.1+ KB

In [14]:
trades.head()

,transaction_id,timestamp,customer_id,stock_ticker,transaction_type,quantity,average_trade_size,cumulative_portfolio_value
0,1,2023-01-02,4747,STK002,BUY,15,15.00,2155.99
1,2,2023-01-02,4747,STK004,BUY,68,41.50,4993.03
2,3,2023-01-02,227,STK006,BUY,49,49.00,6694.05
3,4,2023-01-02,4747,STK006,BUY,503,195.33,73709.48
4,5,2023-01-02,3938,STK006,BUY,203,203.00,27732.49

In [18]:
# First we will convert the timestamp to date in order to compare it with the dtp
trades['temp_date'] = pd.to_datetime(trades['timestamp']).dt.date

#Then we will calculate the estimated prices per date per stock from the trades dataframe
estimated_prices_per_date_per_stock = trades.groupby(['temp_date', 'stock_ticker']).apply(
    lambda x: (x['cumulative_portfolio_value'] / x['quantity'] * x['quantity']).sum() / x['quantity'].sum()
).reset_index(name='price')
len(estimated_prices_per_date_per_stock)

4405

In [22]:
# Fill missing values for each stock column in the dtp 
for col in dtp.columns:
    if col == 'temp_date':
        continue
    
    # Get trade prices for this stock
    stock_prices = estimated_prices_per_date_per_stock[estimated_prices_per_date_per_stock['stock_ticker'] == col].set_index('temp_date')['price']
    
    # Fill missing values from trades by checking the null rows and then mapping it to the correct stockprice using the date
    missing_mask = dtp[col].isnull()
    dtp.loc[missing_mask, col] = dtp.loc[missing_mask, 'date'].map(stock_prices)
    
    # Fill any remaining with forward fill
    dtp[col] = dtp[col].fillna(method='ffill')

In [23]:
# check that all missing values are filled
dtp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    504 non-null    object
 1   STK001  504 non-null    float64
 2   STK002  504 non-null    float64
 3   STK003  504 non-null    float64
 4   STK004  504 non-null    float64
 5   STK005  504 non-null    float64
 6   STK006  504 non-null    float64
 7   STK007  504 non-null    float64
 8   STK008  504 non-null    float64
 9   STK009  504 non-null    float64
 10  STK010  504 non-null    float64
 11  STK011  504 non-null    float64
 12  STK012  504 non-null    float64
 13  STK013  504 non-null    float64
 14  STK014  504 non-null    float64
 15  STK015  504 non-null    float64
 16  STK016  504 non-null    float64
 17  STK017  504 non-null    float64
 18  STK018  504 non-null    float64
 19  STK019  504 non-null    float64
 20  STK020  504 non-null    float64
dtypes: float64(20), object(1)
memory usage: 82.8+ KB

In [25]:
# drop the temp_date column from trades dataframe
trades = trades.drop(columns=['temp_date'])

In [26]:
trades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   transaction_id              10000 non-null  int64
 1   timestamp                   10000 non-null  object
 2   customer_id                 10000 non-null  int64
 3   stock_ticker                10000 non-null  object
 4   transaction_type            10000 non-null  object
 5   quantity                    10000 non-null  int64
 6   average_trade_size          10000 non-null  float64
 7   cumulative_portfolio_value  10000 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 625.1+ KB